
<link rel="import" href="bower_components/paper-shadow/paper-shadow.html"/>
<link rel="import" href="bower_components/paper-button/paper-button.html"/>
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">

<script src="bower_components/moment/min/moment.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>

<polymer-element name="calendar-date"
                 attributes="orientation relatedTarget selectedDate align opened" >
  <template>
    <style>
      * { font-family: 'Lato', sans-serif; }

      :host {
        width: 282px;
        height: auto;
        display: block;
        margin-bottom: 80px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-overflow-scrolling: touch;
        z-index: 1;
      }

      :host([orientation="horizontal"]) {
        width: 512px;
      }

      div {
        box-sizing: border-box;
      }

      p {
        margin: 0;
        font-weight: 400;
      }

      .paper-shadow {
        border-radius: 4px;
      }

      #date_picker {
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        letter-spacing: .5px;
        background: #fafafa;
      }

      .date_display {
        height: 180px;
        width: 100%;
        background-color: #D4182D;
        color: #fafafa;
        text-align: center;
      }

      :host([orientation="horizontal"]) .date_display {
        width: 50%;
        float: left;
        height: 248px;
      }

      .date_display .day_display {
        width: 100%;
        text-align: center;
        font-size: 14px;
        background-color: #A92643;
        height: 32px;
        min-height: 32px;
      }

      .date_display .month_display {
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }

      :host([orientation="horizontal"]) .month_display {
        padding-top: 24px;
        padding-bottom: 15px;
      }

      .date_display .number_display {
        font-size: 60px;
        line-height: 60px;
      }

      :host([orientation="horizontal"]) .number_display {
        font-size: 79px;
        line-height: 79px;
      }

      .date_display .year_display {
        opacity: 0.6;
        font-size: 24px;
        line-height: 24px;
        padding-top: 8px;
      }

      :host([orientation="horizontal"]) .year_display {
        padding-top: 26px;
      }

      .date_chooser {
        width: 100%;
        padding: 0 16px;
      }

      :host([orientation="horizontal"]) .date_chooser {
        width: 50%;
        float: left;
      }

      .date_chooser .month_chooser {
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #404040;
        font-weight: 700;
        padding-top: 14px;
        padding-bottom: 10px;
      }

      :host([orientation="horizontal"]) .month_chooser {
        padding-top: 6px;
      }

      .date_chooser .calender_label_container {
        color: #A92643;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        padding-bottom: 6px;
      }

      :host([orientation="horizontal"]) .calender_label_container {
        padding-bottom: 8px;
      }

      .date_chooser .calender_label_container p {
        width: 32px;
        font-weight: 700;
      }

      .calender_row {
        text-align: center;
        font-size: 18px;
        color: #404040;
        height: 36px;
      }

      :host([orientation="horizontal"]) .calender_row {
        height: 32px;
      }

      paper-button::shadow .button-content {
        padding:0;
        align-items: flex-start !important;
        display: block;
      }

      .calender_row paper-button {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        text-align: center;
        padding: 8px 0 0 0;
        margin: 0;
        font-weight: 400;
        font-size: 12px;
      }

      .year_row {
        text-align: center;
      }

      .year_row paper-button {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        min-width: 48px;
        min-height: 48px;
        text-align: center;
        padding: 12px 0 0 0;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
      }

      .calender_row paper-button::shadow #ripple {
        color: #D4182D;
      }

      .calender_row p {
        width: 64px;
      }

      .actions {
        width: 100%;
        padding: 8px 16px 16px;
      }

      :host([orientation="horizontal"]) .actions {
        padding: 0 16px 16px;
      }

      .save_button {
        width: 88px;
        color: #D4182D;
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0;
      }

      .cancel_button {
        color: #727272;
        margin-right: 8px;
        width: 88px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0;
      }

      .save_button:hover,
      .calendar_button:hover,
      .cancel_button:hover {
        background-color: rgba(33,33,33,0.1);
      }

      .hide
      {
        display:none
      }

      ul {
        margin:0;
        padding-left:0;
        overflow:hidden;
        overflow-y:scroll;
        height: 248px;
      }
        
    </style>
      <div id="date_picker" vertical layout>
        <div id="container">
          <div class="date_display" vertical layout center>
            <p class="day_display" horizontal layout center center-justified>{{weekDay}}</p>
            

            <div horizontal layout>
              <div flex>
                <paper-icon-button icon="arrow-back" title="arrow-forward" on-click="{{decrementMonth}}"></paper-icon-button> 
              </div>
                <div flex class="month_display" on-click="{{activeMonthSelection}}" layout horizontal >{{monthName}}</div>
              <div flex>
                <paper-icon-button icon="arrow-forward" title="arrow-forward" role="button" tabindex="0" on-click="{{incrementMonth}}"></paper-icon-button> 
              </div>
            </div>
            

            <p class="number_display" on-click="{{activeDaySelection}}">{{nroDay}}</p>
            <p class="year_display" on-click="{{activeYearSelection}}">{{yearMonth.year}}</p>
          </div>



          <div class="date_chooser">

            <div id="calendar_years" class="hide">
              <ul>

                <template repeat="{{ year in availableYears}}">
                  <li class="year_row" selected?="{{yearMonth.year == year}}" >
                    <paper-button class="calendar_button" style="display: inline-block" horizontal layout center-justified recenteringTouch on-click="{{selectYear}}">{{year}}</paper-button>
                  </li>
                </template>

              </ul>
            </div>
            <div id="calendar_months" class="hide">
              <ul>
                <template repeat="{{ month in months}}">
                  <li selected?="{{yearMonth.month == month.id}}" >
                    <paper-button class="calendar_button"   horizontal layout center-justified recenteringTouch
                                  on-click="{{selectMonth}}" month="{{month.id}}">{{month.label}}</paper-button>
                  </li>
                </template>

              </ul>
            </div>
            <div id="calendar_days">
              <p class="month_chooser" horizontal layout center center-justified>{{monthName}} {{yearMonth.year}}</p>

              <div class="calender_label_container" horizontal layout center justified>
                <template repeat="{{dayOfWeek in daysOfWeek}}"><p>{{dayOfWeek}}</p></template>
              </div>

              <div class="calender" vertical layout>
                <template repeat="{{row, r in calendar}}">
                  <div class="calender_row" horizontal layout center justified>
                    <template repeat="{{col, c in row}}" >

                      <template if="{{yearMonth.month == col.month}}">
                        <paper-button horizontal layout center-justified recenteringTouch
                                      on-click="{{dateClicked}}"
                                      row="{{r}}" col="{{c}}">{{col.day}}</paper-button>
                      </template >
                      <template if="{{yearMonth.month != col.month}}">
                        <p></p>
                      </template >
                    </template>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>
        <div class="actions" horizontal layout end-justified center>
          <paper-button class="save_button" on-click="{{close}}">Done</paper-button>
        </div>

      </div>
      <paper-shadow z="1"></paper-shadow>
    </div>

  </template>
  <script>
    Polymer("calendar-date", {
      publish: {
        // Defines the date-picker layout mode ('vertical' OR 'horizontal')
        orientation: 'vertical',
        // alignment left,middle,right
        align: 'left'

      },
      closeCanceled: false,

      openedChanged: function (oldVal, newVal) {
        var picker = this;
        if (!this.clickListener) {
          this.clickListener = function (e) {
            var bound = picker.target.getBoundingClientRect();
            picker.async(function () { if (!picker.closeCanceled) picker.close(); else picker.closeCanceled = false });
          };
          this.targetClickListener = function (e) { picker.closeCanceled = true; }
        }

        if (newVal == "true") {
          this.reposition();
          this.style.display = "";
          this.async(function () {
            window.addEventListener('click', picker.clickListener, false);
            picker.target.addEventListener('click', picker.targetClickListener, false);
          }, 100);
        } else {
          window.removeEventListener('click', picker.clickListener, false);
          window.removeEventListener('click', picker.targetClickListener, false);
          
          picker.style.display = "none";
        }
      },
      reposition: function () {
        if (this.opened == "true") {
          var picker = this;
          var bound = this.relatedTarget.getBoundingClientRect();
          picker.style.position = "fixed";
          picker.style.top = (bound.bottom) + "px";

          if (this.align == "right") picker.style.left = (bound.right) + "px";
          else if (this.align == "left") picker.style.left = (bound.left) + "px";
          else picker.style.left = ((bound.left + bound.right) / 2) + "px";
        }
      },
      toggle: function () {
        if (this.opened == "true") this.opened = "false";
        else this.opened = "true";
      },
      open: function () {
        this.opened = "true";
      },

      close: function() {
        this.opened = "false";
      },
      format: function(moment) { return moment.tz(this.timezone).format("MMMM DD, YYYY"); },

      ready: function() {

        this.target = this.$.target;
        var self = this;
        window.addEventListener('scroll', function () { self.reposition(); });
        window.addEventListener('resize', function () { self.reposition(); });
        this.async(self.reposition);
        if (!this.selectedDate) this.selectedDate = moment().format("MMMM DD, YYYY");
        this.daysOfWeek = [0, 1, 2, 3, 4, 5, 6].map(function(n) {return moment().day(n).format("dd").charAt(0);});
        this.months = [0, 1, 2, 3, 4, 5, 6,7,8,9,10,11].map(function(n) {return { label: moment().month(n).format("MMMM"), id: n}});

        this.calendar = [];
        this.availableYears =[];
        var currentYear = new Date().getFullYear();
        for (var d = (currentYear-120) ;d<=currentYear;d++ ) this.availableYears.push(d);

      },

      dateClicked: function(e) {
        var element = e.originalTarget ? e.originalTarget : e.toElement;
        var row = element.getAttribute("row");
        var col = element.getAttribute("col");
        this.selectedDate = this.calendar[row][col].identifier;
        this.nroDay = moment(this.selectedDate).date();
        this.weekDay = moment.weekdays( moment(this.selectedDate).day());
      },
      selectedDateChanged: function() {
        this.date = moment(this.selectedDate);
        this.rebuildYearMonth(this.date);
        this.rebuildCalendar();
      },
      dateChanged: function(oldDate, newDate) {
        this.rebuildYearMonth(newDate);
      },
      rebuildYearMonth: function(moment) {
        this.yearMonth = {
          year: moment.year(),
          month: moment.month()
        };
      },
      yearMonthChanged: function(oldYearMonth, newYearMonth) {
        if (!oldYearMonth || oldYearMonth.year != newYearMonth.year || oldYearMonth.month != newYearMonth.month) {
          this.rebuildCalendar();
        }
      },
      rebuildCalendar: function() {
        this.calendar = [];
        this.firstOfMonth = moment([this.yearMonth.year, this.yearMonth.month, 1]);
        this.monthName = this.firstOfMonth.format("MMM");

        var currentDate = moment(this.selectedDate);
        this.nroDay = currentDate.date();

        this.weekDay = moment.weekdays(currentDate.day());

        this.firstDayOfMonthOffset = this.firstOfMonth.day();
        var columns = [];

        for (var i = 0; i < 6 * 7; i++) {
          var date =this.firstOfMonth.clone().add(i - this.firstDayOfMonthOffset, 'days');
          if (i % 7 == 0) { columns = []; }
          columns.push({
            date: date,
            year: date.year(),
            month: date.month(),
            day: date.date(),
            identifier: date.format("MMMM DD, YYYY")
          });

          if ((i + 1) % 7 == 0) this.calendar.push(columns);
        }
      },
      activeDaySelection : function()
      {
        this.$.calendar_days.classList.remove('hide');
        this.$.calendar_months.classList.add('hide');
        this.$.calendar_years.classList.add('hide');
      },
      activeMonthSelection : function()
      {
        this.$.calendar_days.classList.add('hide');
        this.$.calendar_months.classList.remove('hide');
        this.$.calendar_years.classList.add('hide');
      },
      activeYearSelection : function()
      {
        this.$.calendar_days.classList.add('hide');
        this.$.calendar_months.classList.add('hide');
        this.$.calendar_years.classList.remove('hide');
      },
      selectYear: function(e)
      {
        var element = e.originalTarget ? e.originalTarget : e.toElement;
        var value = element.textContent;

        this.selectedDate=moment(this.selectedDate).set('y', value).format("MMMM DD, YYYY");
        this.rebuildCalendar();
      },
      selectMonth: function(e)
      {
        var element = e.originalTarget ? e.originalTarget : e.toElement;
        var selectedMonth = element.getAttribute('month');


        this.selectedDate=moment(this.selectedDate).set('M', parseInt(selectedMonth)).format("MMMM DD, YYYY");
        this.rebuildCalendar();
      },
      incrementMonth: function(){
        this.selectedDate = moment(this.selectedDate).add(1,'months').format("MMMM DD, YYYY");
        this.rebuildCalendar();
      },
      decrementMonth: function(){
        this.selectedDate = moment(this.selectedDate).subtract(1, 'months').format("MMMM DD, YYYY");
        this.rebuildCalendar();
      }
    })
  </script>
</polymer-element>
