
<link rel="import" href="bower_components/paper-input/paper-input.html"/>
<link rel="import" href="calendar-date.html"/>
<link rel="import" href="bower_components/font-roboto/roboto.html">

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>


<polymer-element name="calendar-date-picker" attributes="selectedDate opened orientation align">
  <template>

    <style>
      paper-input {
        font-size: 25px;
        padding: 24px;
        font-family: 'RobotoDraft', sans-serif;
      }
    </style>


    <calendar-date id="datePicker" orientation="{{orientation}}" align="{{align}}" selectedDate="{{selectedDate}}" relatedTarget="{{$.trigger}}" opened="{{opened}}"></calendar-date>

    <paper-input id="trigger" value="{{selectedDate}}" on-click="{{toggle}}" readonly ></paper-input>
  
    
   
  </template>
  <script>
    Polymer('calendar-date-picker', {
      toggle: function() {
        this.$.datePicker.toggle();
      },
      open: function() {
        this.$.datePicker.open();
      }
    });

  </script>
</polymer-element>
